body {
    font-family: monaco;
    background-color: rgb(185, 129, 236);
}

.col {
    height: 150px;
    text-align: center;
    
    
}

#topLeft {
    
}

#topCenter {
    
    
}

#topRight {
    
}

#middleLeft {
    
}

#middleCenter {
    
}

#middleRight {
   
}

#bottomLeft {
    
}

#bottomCenter {
    
}

#bottomRight {
    
}